# application environment
# when uncommented it will use .env.test config file instead of .env
# can be handy if you need to test with different settings
# (for example PORT if you test on same machine as the production version runs on)
# NODE_ENV = "test"

# port for the application to listen on
PORT = 8080

# telegram bot settings
TG_BOT_TOKEN =
TG_MAIN_CHANNEL_ID =
TG_HOOSKWOOF_UPDATES_ID =

# controls usage of winston loggers
USE_REQUEST_LOGGING = true
USE_ERROR_LOGGING = true

# Nodemailer settings
# Visit https://nodemailer.com/smtp/well-known/ for supported services
NODEMAILER_USER = "example@example.com"
NODEMAILER_PASS = "VeryStrongAndComplicatedPassword"
NODEMAILER_SERVICE = "Gmail"

# Identification details for nodemailer
NODEMAILER_SENDER_NAME = "The Chosen One"
NODEMAILER_SENDER_EMAIL = "example@example.com"
NODEMAILER_RECIPIENT_EMAIL = "exampleRec@example.com"

# telegram chat IDs for TrucksBook
TG_ETS_CHAT = 
TG_ATS_CHAT = 

# discord webhooks for TrucksBook
TB_ETS_DISCORD = 
TB_ATS_DISCORD = 

# TypeORM setting
TYPEORM_CONNECTION = 
TYPEORM_HOST =
TYPEORM_USERNAME =
TYPEORM_PASSWORD =
TYPEORM_DATABASE =
TYPEORM_PORT =
TYPEORM_SYNCHRONIZE =
TYPEORM_LOGGING =
TYPEORM_ENTITIES =
TYPEORM_MIGRATIONS =
TYPEORM_SUBSCRIBERS =
TYPEORM_ENTITIES_DIR =
TYPEORM_MIGRATIONS_DIR =
TYPEORM_SUBSCRIBERS_DIR =